{% extends 'emodule/module/module_tab_base.html' %}
{% load static %}

{% block tab-conent-body-1 %}

<div class="tutor-course-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Activity 1. Basketry tools and Materials</h4>

    <p>
        <b>Directions:</b><br>
        On the first column are illustrations of tools and materials used in basketry. 
        Identify each by choosing the correct word/s inside the box. Indicate your 
        answer on the second column. Write your answer on your activity notebook.
    </p>

    <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_1.PNG' %}">
    <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_2.PNG' %}">
    <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_3.PNG' %}">
    <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_4.PNG' %}">
    <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_5.PNG' %}">
</div>

{% endblock tab-conent-body-1 %}