{% extends 'emodule/module/lesson_base.html' %}

{% load static %}

{% block tab-conent-body-1 %}
{% with quarter_id=module.quarter.id module_id=module.id %}

<div class="tutor-course-main-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Lesson</h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-2" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-2" type="button" role="tab" aria-controls="lesson-{{module_id}}-2"
                aria-selected="true">
                Differentiate the Kinds of Basketry Weaving Techniques and Patterns
            </button>
            <button class="nav-link" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-3" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-3" type="button" role="tab" aria-controls="lesson-{{module_id}}-3"
                aria-selected="true">
                Fundamental Weaves in Hard and Soft Strip
            </button>
            <button class="nav-link" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-4" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-4" type="button" role="tab" aria-controls="lesson-{{module_id}}-4"
                aria-selected="true">
                Steps for Making Eight- strands Weavers (Ric-Rac)
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lesson-{{module_id}}-2" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-2">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">
                    <h5>Differentiate the Kinds of Basketry Weaving Techniques and Patterns</h5><br>
                    <p>
                        Basket weaving has been used in cultures all over the world for at least a 
                        thousand of years now. There are a multitude of uses for baskets, ranging from table 
                        top decorations to traps meant for catching fish. They play a prominent role in some 
                        religious ceremonies.
                    </p>
                    <p>
                        It is important that you will be introduced to the different basket weaving 
                        techniques and patterns first before you decide to do your own basket. There are 
                        many applications for basketry and the most common will be presented and discuss 
                        on this module.
                    </p>

                    <h6>BASKETRY WEAVING</h6>
                    <ol>
                        <li>
                            <b>Stake and Strand</b>  Stake and strand weaving involves two
                            elements, namely, the rigid stakes that forms the
                            ribs or warp and a more pliable material that is
                            used to weave in and out of the ribs to create the
                            sides of the basket or the waft. This method
                            allows the use of a wide range of materials as
                            long as they are flexible enough for the waft and
                            rigid enough for the warp.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_6.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Stake and Strand</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Coiling</b>  Stake and strand weaving involves two
                            elements, namely, the rigid stakes that forms the
                            ribs or warp and a more pliable material that is
                            used to weave in and out of the ribs to create the
                            sides of the basket or the waft. This method
                            allows the use of a wide range of materials as
                            long as they are flexible enough for the waft and
                            rigid enough for the warp.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_7.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Coiling</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Twining</b>  Twined weaving refers to using multiple
                            materials, one that is more rigid at the base and
                            another two that are more flexible at the sides of
                            the basket. Twining is similar to weaving but two
                            strands are used to go under and over the ribs.
                            Baskets made by twining can be quite
                            spectacular because three or more materials
                            can be used to twine a basket. However, to do
                            this, you need to be quite experienced in twining
                            as the strands have to be woven over and under
                            the ribs in opposite directions. There are also
                            many variations to twining such as leaving the
                            warp open or twining on the diagonal.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_8.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Twining</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Plaiting</b>  Plaited weaving involves weaving wide
                            materials, similar in shape to ribbons such as,
                            palm, yucca, or flax. Both the stakes as well as
                            the weaving materials are identical, which are
                            then woven together at right angle. The plaiting
                            can be either open or closed. By using variations
                            of the basic plaiting methods as well as the wide
                            range of materials available means that each
                            basket can be unique masterpiece.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_9.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Plaiting</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

        </div>

        <div class="tab-pane fade show" id="lesson-{{module_id}}-3" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-3">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">
                    <h5>Fundamental Weaves in Hard and Soft Strip</h5><br>
                    
                    <h6>A. Hard Strips</h6>
                    <div class="row g-12">
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_10.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Randing Weaves <br>
                                            (Over One Under One)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_11.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Closed Weaves <br>
                                            (Over One Under One)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_12.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Sawali Weaves <br>
                                            (Over Two Under Two)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_13.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Over Three Under Three
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_14.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Over Four Under Four
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_15.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Basic Hexagonal
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_16.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Basic Hexagonal
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_17.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Zigzag
                                        </h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <p><i><b>Basket Bottoms</b></i></p>
                    <div class="row g-12">
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_18.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Cylindrical Shape
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_19.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Rectangular Shape
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_20.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Oval Shape
                                        </h6>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <h6>B. Soft Strips</h6>
                    <p><i><b>Basket Bottoms</b></i></p>
                    <div class="row g-12">
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_21.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Two-Strand Weavers
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_22.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Three-Strand Weavers
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_23.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Four-Strand Weavers
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_24.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Two- Strand Weavers (RicRac)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_25.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Three- Strand Weavers (Ric-Rac)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_26.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Four- Strand Weavers (RicRac)
                                        </h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade show" id="lesson-{{module_id}}-4" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-4">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">

                    <h5>Steps for Making Eight- strands Weavers (Ric-Rac)</h5><br>

                    <div class="row g-12">
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_27.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 1
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_28.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 2
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_29.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 3
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_30.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 4
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_31.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 5
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_32.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 6
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_33.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 7
                                        </h6>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                    <div class="course-language-item__thumb">
                                        <img src="{% static 'emodule/images/module/quarter_2/unit_i/unit_i_34.PNG' %}" alt="Language" width="330" height="248">
                                    </div>
                                    <div class="course-language-item__caption">
                                        <h6 class="course-language-item__name">
                                            Step 8
                                        </h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endwith %}
{% endblock tab-conent-body-1 %}