{% extends 'emodule/module/lesson_base.html' %}

{% load static %}

{% block tab-conent-body-1 %}
<div class="tutor-course-segment tutor-course-wrap">
    {% with quarter_id=module.quarter.id module_id=module.id %}
    <h4 class="tutor-course-segment__title">Lesson</h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-1" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-1" type="button" role="tab" aria-controls="lesson-{{module_id}}-1"
                aria-selected="true">
                Identify and Use of Materials: Tools and Equipment for Basketry
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lesson-{{module_id}}-1" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-1">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">

                    <h5>Identify and Use of Materials: Tools and Equipment for Basketry</h5><br>

                    <h6>Basketry Materials</h6>
                    <p>
                        The Philippines serves as a home to a wide variety of plants growing on forests, swamps, hills, or 
                        plains that are excellent materials for basketry. The plants that are usually used in basketry are 
                        generally classified into ferns, pandan, grasses, bamboos, sedges, the country, growing with other 
                        species of plants.
                    </p>

                    <ol>
                        <li>
                            <b>Rattan core (also known as reed)</b>  is one of the most popular materials used in basketry 
                            because it is readily avail- able. It is pliable and very sturdy when it is woven correctly. 
                            Flat reed is used for most square baskets; oval reed is used for round baskets; and round reed 
                            is used for coiling baskets. Another advantage of using reed as material in basketry is that it 
                            can be dyed easily so it could look like an oak or hickory.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_1.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Rattan core (also known as reed)</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Abaca </b>  is also used as a material in basketry because it is very flexible and durable. 
                            It is the strongest of the natural fibers and resistant to saltwater damage. Because of its 
                            good qualities, it is a sought-after material. It can be used to make handicrafts like bags, 
                            carpets, clothing, and furniture. The inner fibers of abaca are used in manufacturing hats, 
                            including the manila hats, hammocks, matting, cordage, ropes, coarse twines, and different 
                            types of canvas. The abaca is also known as manila hemp in the market although it is unlike 
                            true hemp. Other varieties are known as Cebu hemp and Davao hemp.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_2.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Abaca </h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Pandan</b> is a tropical plant widely used in cooking as flavoring, but it could also be used as 
                            a material in basketry. Baskets made of pandan are used as a pot for cooking rice.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_3.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Pandan</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Tikug</b> belongs to the grass family. It is very versatile, pliable, and smooth. Because of its 
                            good characteristics, it has been a popular and excellent material used in weaving quality mats. 
                            Various colorful and functional handcrafted products can also be made from it.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_4.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Tikug</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Buri palm</b> is an excellent material for making coiled basket. Many industrial products are derived 
                            from buri palms. The young leaves of the plant are made into strips. Raffia is the skin stripped from the 
                            leaf segments of the buri shoots before the blade has unfolded.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_5.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Buri palm</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Karagumoy</b> leaves are coarse. They split while they are fresh, and they press as they dry. These 
                            strips are used for weaving mats, hats, bags, or work basket.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_6.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Karagumoy</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Nito fern</b> grows in humid, shaded places where timbers is not very thick. It loses many of its leaves 
                            as it grows. The stem of the nito changes as it grows from green to light green, to dark brown, and finally to black.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_7.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Nito fern</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Dog rose, honeysuckle, and blackberry briars</b> are examples of plants used once their spikes and creepers have been worn off.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_8.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Dog rose, honeysuckle, and blackberry briars</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Willow grows</b> fast and is easy to harvest. It is also known for its flexibility.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_9.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Willow grows</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Water hyacinth</b> has become a serious pest in some areas. For it to become useful, water hyacinth is 
                            made into one of the materials to make handicrafts.                            
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_10.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Water hyacinth</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <h6>Basketry Tools</h6>
                    <p>
                        The main tools of basketry are simple, and these include the following:
                    </p>
                    <ol>
                        <li>
                            <b>Awl or Boldkin</b> is used for making holes for inserting willow, cane, or reed. Small bodkin is used for pegging 
                            the work to the workboard while medium bodkin is for easing cane into position and for tapping down the rows of weaving 
                            to keep the work level.                            
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_11.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Awl or Boldkin</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Secateurs</b> are used for cutting off ends of a cane.                            
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_12.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Secateurs</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Nose pliers</b> are used to pinch the reed where you want to bend it at right angle when making borders.                        
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_13.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Nose pliers</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Tape measure</b> or Meter sticks is used for measuring materials.                      
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_14.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Tape measure</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Rapping iron</b> looks like a chisel, but it is blunt and used for tapping down the willow weave into position.                     
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_15.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Rapping iron</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>Utility knife</b> is used for cutting materials, sharpening stakes, and trimming. It is originally a fixed blade 
                            knife with a cutting edge suitable for general work.                    
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_iii/unit_iii_16.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">Utility knife</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                        
                </div>
            </div>

        </div>
    </div>
    {% endwith %}
</div>
{% endblock tab-conent-body-1 %}