{% extends 'emodule/module/performance_task_base.html' %}

{% block tab-conent-body-1 %}
<div class="tutor-course-segment tutor-course-wrap">
    <h6 class="tutor-course-segment__title">Hard Strips</h6>
    <div class="tutor-course-segment__content-wrap">
        <ul>
            <li>Randing weave</li>
            <li>Closed weave</li>
            <li>Sawali  weave</li>
            <li>Over three under three</li>
            <li>Over four under four</li>
            <li>Basic hexagonal</li>
            <li>Chevron</li>
            <li>Zigzag</li>
        </ul>
        <i>When submitting, name your portfolio "Fundamental Weave/Hard strip- (YOUR SURNAME)".</i>
    </div>
</div>
{% endblock tab-conent-body-1 %}

{% block tab-conent-body-2 %}
<div class="tutor-course-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Rubrics</h4>
    <table class="table table-bordered caption-top">
        <caption>Rubrics in making Fundamental weave/Hard strip</caption>
        <thead>
            <tr>
                <th></th>
                <th>5</th>
                <th>3</th>
                <th>1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Craftsmanship</td>
                <td>Exceptional skill is shown</td>
                <td>Does not show much skill</td>
                <td>Dull and boring</td>
            </tr>
            <tr>
                <td>Resourcefulness</td>
                <td>The work is applied with variation of materials</td>
                <td>Resourcefulness is not given much attention</td>
                <td>There is no effort at all in choosing material</td>
            </tr>
            <tr>
                <td>Creativity</td>
                <td>Creativity and extra effort is evident</td>
                <td>Creativity is not really given much attention</td>
                <td>Work is dull. No sign of any effort at all</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock tab-conent-body-2 %}

    