{% extends 'emodule/module/lesson_base.html' %}

{% load static %}

{% block tab-conent-body-1 %}
{% with quarter_id=module.quarter.id module_id=module.id %}

<div class="tutor-course-main-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Lesson</h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-2" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-2" type="button" role="tab" aria-controls="lesson-{{module_id}}-2"
                aria-selected="true">
                History of Basktery
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lesson-{{module_id}}-2" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-2">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">
                    <h5>History of Basktery</h5><br>
                    <p>
                        Basketry or basket making is one of the oldest crafts. Prehistoric humans used limbs, leaves, and 
                        vines woven together to carry their supplies. From these basic beginnings, different cultures have 
                        urbanized literally hundreds of styles of baskets. In many cases, the style of basket depends on the 
                        availability of resources and plants suitable for basket construction. In early times, baskets were 
                        a necessity. This was before the days of metal and plastic containers. They were used to carry and 
                        store various materials. Today, baskets are used for the same purposes, but also to decorate the home, 
                        to hold flowers for weddings and hospital visits, to store personal items, and to decide for holiday 
                        festivities.
                    </p>
                    <p>
                        Since the materials for basketry are as close as the nearest palm tree, cane stalks, or rush, its 
                        development was universal. Early weavers sometimes lined their baskets with clay to make them watertight; 
                        from these beginnings, pottery has developed.
                    </p>
                    <p>
                        Today, basket making survives in many parts of the world using forms, techniques, and materials like 
                        those employed in previous ages. 
                    </p>
                    <p>
                        In the Philippines, raw materials for basket weaving are abundant. The most common are bamboo, rattan, 
                        and abaca. Baskets coming from the lowland are usually made of bamboo and abaca, while in mountainous places, 
                        the main raw material used is chiefly rattan. The four types of baskets found in the Philippines are snare and 
                        traps, holding basket, carrying basket, and sieves and strainers. Traditional designs are still employed in making 
                        these four types of baskets for special purposes, such as crab and lobster pots, fish traps, eel traps, bird and 
                        fowl snares, holding baskets, and carrying baskets. Today, the basket- weaving industry in the country has gone a 
                        long way, as it remains to be a major basket- making producer abroad.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endwith %}
{% endblock tab-conent-body-1 %}