{% extends 'emodule/module/module_tab_base.html' %}
{% load static %}

{% block tab-conent-body-1 %}
{% if quiz_list %}
<form id="id_activity_form" method="post">
    {% csrf_token %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for key, quiz in quiz_list.items %}
            <button class="nav-link {% if forloop.first %}active{% endif %}" id="quiz-{{quiz.activity_obj.id}}-tab" data-bs-toggle="tab" data-bs-target="#quiz-{{quiz.activity_obj.id}}"
                type="button" role="tab" aria-controls="quiz-{{quiz.activity_obj.id}}" aria-selected="true">
                {% if quiz.activity_obj.title %}{{quiz.activity_obj.title}}{% else %}Quiz-{{forloop.counter}}{% endif %}
            </button>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for key, quiz in quiz_list.items %}
        <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="quiz-{{quiz.activity_obj.id}}" role="tabpanel" aria-labelledby="quiz-{{quiz.activity_obj.id}}-tab">
            <!-- Tutor Course Main Segment Start -->
            <div class="tutor-course-main-segment">

                <!-- Tutor Course Segment Start -->
                <div class="tutor-course-segment tutor-course-wrap">

                    <div class="tutor-course-segment__header">
                        <h4 class="tutor-course-segment__title">{{quiz.activity_obj.direction}}</h4>
                    </div>

                    {% include 'emodule/partial/messages.html' %}

                    <div class="course-curriculum accordion">
                        {% for quiz_question_key, quiz_question in quiz.question_list.items %}
                        <div class="accordion-item {% if quiz_question.student_answer.is_correct %}border-correct-answer{% elif quiz_question.student_answer.is_correct is False %}border-wrong-answer{% endif %}">
                            <a class="accordion-button">{{forloop.counter}}. {{quiz_question.question_obj.text}}</a>
                            <div id="collapse-{{quiz_question.question_obj.id}}" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionCourse">

                                <div class="course-curriculum__lessons">

                                    {% for quiz_choice in quiz_question.question_obj.quizchoice_set.all %}
                                    <div class="course-curriculum__lesson {% if quiz_choice.id == quiz_question.student_answer.answer_id %}{% if quiz_question.student_answer.is_correct %}correct-answer{% else %}wrong-answer{% endif %}{% endif %}">
                                        <span class="course-curriculum__title">
                                            <div class="form-check">
                                                <input name="quiz_choice_{{quiz_question.question_obj.id}}"
                                                    id="id_quiz_choice_{{quiz_question.question_obj.id}}_{{quiz_choice.id}}"
                                                    class="form-check-input" type="radio" value="{{quiz_choice.id}}"
                                                    {% if quiz_choice.id == quiz_question.student_answer.answer_id and quiz_question.student_answer is not None %}checked{% endif %}
                                                    {% if quiz_question.student_answer.answer_id %}disabled{% endif %}
                                                    required="required">
                                                <label class="form-check-label"
                                                    for="id_quiz_choice_{{quiz_question.question_obj.id}}_{{quiz_choice.id}}">
                                                    {{quiz_choice.text}}
                                                </label>
                                            </div>
                                        </span>
                                    </div>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
                <!-- Tutor Course Segment End -->

            </div>
            <!-- Tutor Course Main Segment End -->
        </div>
        {% endfor %}
    </div>

</form>
{% else %}
<!-- Tutor Course Main Segment Start -->
<div class="tutor-course-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Activity</h4>

    {% include 'emodule/partial/warning-message.html' with message="None" %}

</div>
<!-- Tutor Course Main Segment End -->
{% endif %}
{% endblock tab-conent-body-1 %}