{% extends 'emodule/module/lesson_base.html' %}

{% load static %}

{% block tab-conent-body-1 %}
<div class="tutor-course-segment tutor-course-wrap">
    {% with quarter_id=module.quarter.id module_id=module.id %}
    <h4 class="tutor-course-segment__title">Lesson</h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-1" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-1" type="button" role="tab" aria-controls="lesson-{{module_id}}-1"
                aria-selected="true">
                Different Kinds of Basketry Products
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lesson-{{module_id}}-1" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-1">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">

                    <h5>Different Kinds of Basketry Products</h5><br>

                    <ol>
                        <li>
                            <b>COILED BASKETRY</b>  is a type of technique in basket making, which Native Americans
                            of the Southwest are all renowned for. This comes in various styles and shapes
                            depending on the materials used and the type of stitch used to interlock the coil together
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_ii/unit_ii_8.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">COILED BASKETRY</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>PLAITING BASKETRY</b>  is similar to textile weaving where the material is plaited or
                            woven to produce a wide variety of items like bags, baskets, purse, fan, etc.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_ii/unit_ii_9.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">PLAITING BASKETRY</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>TWINNING BASKETRY</b>  uses materials from roots and tree bark. Twinning actually
                            refers to a weaving technique where two or more flexible weaving elements or weavers
                            cross each other as they weave through the stiffer radial spokes.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_ii/unit_ii_10.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">TWINNING BASKETRY</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <b>WICKER AND SPLINT BASKETRY</b>  uses materials like reed, cane willow, oak,
                            and ash to create useful basket designs.
                            <div class="row g-6">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="course-language-item" data-aos="fade-up" data-aos-duration="1000">
                                        <!-- <a class="course-language-item__link" href="course-grid-left-sidebar.html"> -->
                                            <div class="course-language-item__thumb">
                                                <img src="{% static 'emodule/images/module/quarter_1/unit_ii/unit_ii_11.PNG' %}" alt="Language" width="330" height="248">
                                            </div>
                                            <div class="course-language-item__caption">
                                                <h3 class="course-language-item__name">WICKER AND SPLINT BASKETRY</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
    {% endwith %}
</div>
{% endblock tab-conent-body-1 %}