{% extends 'emodule/base.html' %}
{% load static %}
{% load emodule_extras %}

{% block page_title %}Basketry - {{quarter.title}} Assessment {% endblock page_title %}

{% block content %}
<!-- Page Banner Section Start -->
<div class="page-banner bg-color-12">
    <div class="page-banner__wrapper">
        <div class="container">

            <!-- Page Breadcrumb Start -->
            <div class="page-breadcrumb">
                <ul class="breadcrumb breadcrumb-white">
                    <li class="breadcrumb-item"><a href="{% url 'emodule:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'emodule:subject-detail' quarter.subject.id %}">Quarters</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'emodule:quarter-detail' quarter.subject.id quarter.id %}">{{quarter.title}}</a></li>
                </ul>
            </div>
            <!-- Page Breadcrumb End -->

            <!-- Page Banner Caption Start -->
            <div class="page-banner__caption text-center">
                <h2 class="page-banner__main-title text-white">{{quarter.title}}</h2>
            </div>
            <!-- Page Banner Caption End -->

        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Tutor Course tabs Menu Start -->
<div class="tutor-course-tabs bg-color-13">
    <div class="container custom-container">

        <ul class="nav justify-content-center">
            <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1">Assessment</button></li>
        </ul>

    </div>
</div>
<!-- Tutor Course tabs Menu End -->

<!-- Tutor Course Main content Start -->
<div class="tutor-course-main-content bg-color-05 section-padding-01 sticky-parent">
    <div class="container custom-container">

        {% emodule_status latest_result.status as current_assessment_status %}
        {% emodule_score assessment_results.first.score as current_score %}

        <div class="row gy-10">
            <div class="col-lg-8">

                <div class="course-main-sticky">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">

                            {% if assessment_list %}
                            <form id="id_activity_form" method="post">
                                {% csrf_token %}
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        {% for key, assessment in assessment_list.items %}
                                        <button class="nav-link active" id="assessment-{{assessment.activity_obj.id}}-tab" data-bs-toggle="tab" data-bs-target="#assessment-{{assessment.activity_obj.id}}"
                                            type="button" role="tab" aria-controls="assessment-{{assessment.activity_obj.id}}" aria-selected="true">
                                            {% if assessment.activity_obj.title %}{{assessment.activity_obj.title}}{% else %}Assessment - {{forloop.counter}}{% endif %}
                                        </button>
                                        {% endfor %}
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    {% for key, assessment in assessment_list.items %}
                                    <div class="tab-pane fade show active" id="assessment-{{assessment.activity_obj.id}}" role="tabpanel" aria-labelledby="assessment-{{assessment.activity_obj.id}}-tab">
                                        <!-- Tutor Course Main Segment Start -->
                                        <div class="tutor-course-main-segment">

                                            <!-- Tutor Course Segment Start -->
                                            <div class="tutor-course-segment tutor-course-wrap">

                                                <div class="tutor-course-segment__header">
                                                    <h4 class="tutor-course-segment__title">{{assessment.activity_obj.direction}}</h4>
                                                </div>

                                                {% include 'emodule/partial/messages.html' %}

                                                <div class="course-curriculum accordion">
                                                    {% for assessment_question_key, assessment_question in assessment.question_list.items %}
                                                    <div class="accordion-item {% if assessment_question.student_answer.is_correct %}border-correct-answer{% elif assessment_question.student_answer.is_correct is False %}border-wrong-answer{% endif %}">
                                                        <a class="accordion-button question-{{assessment_question.question_obj.id}}">{{forloop.counter}}. {{assessment_question.question_obj.text}}</a>
                                                        <div id="collapse-{{assessment_question.question_obj.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordionCourse">
                                                            
                                                            {% if assessment_question.question_obj.id == 33 %}
                                                            <ol class="list-group" type="I">
                                                                <li class="list-group-item">Chasing. Two rounds are worked at once. Lower weaver moves four spokes ahead; upper weaver catches up.</li>
                                                                <li class="list-group-item">Weave the first loop of the materials.</li>
                                                                <li class="list-group-item">Randing. Each round is worked by itself.</li>
                                                                <li class="list-group-item">Weave the second loop.</li>
                                                                <li class="list-group-item">Weave it inside the second, over the third, and so on.</li>
                                                            </ol>
                                                            {% endif %}

                                                            <div class="course-curriculum__lessons">

                                                                {% for assessment_choice in assessment_question.question_obj.assessmentchoice_set.all %}
                                                                <div class="course-curriculum__lesson {% if assessment_choice.id == assessment_question.student_answer.answer_id %}{% if assessment_question.student_answer.is_correct %}correct-answer{% else %}wrong-answer{% endif %}{% endif %}">
                                                                    <span class="course-curriculum__title">
                                                                        <div class="form-check">
                                                                            <input name="assessment_choice_{{assessment_question.question_obj.id}}"
                                                                                id="id_assessment_choice_{{assessment_question.question_obj.id}}_{{assessment_choice.id}}"
                                                                                class="form-check-input" type="radio" value="{{assessment_choice.id}}"
                                                                                {% if assessment_choice.id == assessment_question.student_answer.answer_id and assessment_question.student_answer is not None %}checked{% endif %}
                                                                                {% get_assessment_submit_button_class current_assessment_status assessment_results.count assessment_max_attempts  %}>
                                                                            <label class="form-check-label"
                                                                                for="id_assessment_choice_{{assessment_question.question_obj.id}}_{{assessment_choice.id}}">
                                                                                {{assessment_choice.text}}
                                                                            </label>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                                {% endfor %}

                                                            </div>

                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                            </div>
                                            <!-- Tutor Course Segment End -->

                                        </div>
                                        <!-- Tutor Course Main Segment End -->
                                    </div>
                                    {% endfor %}
                                </div>

                            </form>
                            {% else %}
                            <!-- Tutor Course Main Segment Start -->
                            <div class="tutor-course-segment tutor-course-wrap">
                                <h4 class="tutor-course-segment__title">Assessment</h4>

                                {% include 'emodule/partial/warning-message.html' with message="None" %}

                            </div>
                            <!-- Tutor Course Main Segment End -->
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-4">

                <!-- Tutor Course Sidebar Start -->
                <div class="tutor-course-sidebar sidebar-label">

                    <!-- Tutor Course Price Preview Start -->
                    <div class="tutor-course-price-preview">
                        <div class="col-md-12">
                            <div class="contact-form__input">
                                <button 
                                id="id_activity_form_submit" 
                                class="btn btn-primary btn-hover-secondary w-100" 
                                {% get_assessment_submit_button_class current_assessment_status assessment_results.count assessment_max_attempts  %}
                                >Submit Assessment</button>
                            </div>
                        </div><br>
                        
                        <div class="tutor-course-price-preview__meta">
                            <ul class="tutor-course-meta-list">
                                <li>
                                    <div class="label"><i class="fas fa-info"></i> Status </div>
                                    <div class="value"><span>{% show_emodule_badge assessment_list current_assessment_status %}</span></div>
                                </li>
                                <li>
                                    <div class="label"><i class="fas fa-star"></i> Assessment Score </div>
                                    <div class="value"><span>{{current_score}}</span></div>
                                </li>
                                <li>
                                    <div class="label"><i class="fas fa-list"></i> Number of Questions </div>
                                    <div class="value">{{quarter.assessment_count}}</div>
                                </li>
                                <li>
                                    <div class="label"><i class="fas fa-redo"></i> Number of Attempts </div>
                                    <div class="value">{{assessment_results.count}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tutor Course Price Preview End -->

                    <!-- Sidebar Widget Start -->
                    <div class="sidebar-widget border-0">
                        <h3 class="sidebar-widget__title">Next Assessment</h3>

                        <div class="sidebar-widget__course">

                            <div class="col-md-12">
                                <div class="contact-form__input">
                                    <!-- Student cannot proceed if:
                                        1. Current Quarter has no assessment or
                                        2. Curret Quarter assessment status == Failed or
                                        3. Next Quarter has no assessment 
                                    -->
                                    <a 
                                        id="id_activity_form_submit" 
                                        href="{% url 'emodule:assessment-detail' next_quarter_assessment.subject.id next_quarter_assessment.id 'assessment' %}"
                                        class="btn btn-secondary btn-hover-primary w-100 {% if not assessment_list or not next_quarter_assessment.assessment_set.all or current_assessment_status == 'Failed' %}disabled{% endif %}"
                                        >Proceed to next assessment</a>
                                </div>
                            </div><br/>
                            <div class="col-md-12">
                                <div class="contact-form__input">
                                    <!-- Student cannot go back if:
                                        1. Current Quarter is the first one
                                    -->
                                    <a 
                                        id="id_activity_form_submit" 
                                        href="{% if previous_quarter_assessment %}{% url 'emodule:assessment-detail' previous_quarter_assessment.subject.id previous_quarter_assessment.id 'assessment' %}{% endif %}"
                                        class="btn btn-dark btn-hover-primary w-100 {% if not previous_quarter_assessment %}disabled{% endif %}"
                                        >Previous assessment</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Sidebar Widget End -->

                </div>
                <!-- Tutor Course Sidebar End -->

            </div>
        </div>


    </div>
</div>
<!-- Tutor Course Main content End -->
{% endblock content %}