{% extends 'emodule/module/performance_task_base.html' %}
{% load static %}

{% block tab-conent-body-1 %}
<div class="tutor-course-segment tutor-course-wrap">
    <!-- <h6 class="tutor-course-segment__title">Hard Strips</h6> -->
    <div class="tutor-course-segment__content-wrap">
        <p><b>Materials Needed:</b> newspaper, scissor, knife, pine skewer/ stick, cardboard, double sided-tape, bulldog clip, glue/rugby</p>
    </div>
</div>
{% endblock tab-conent-body-1 %}

{% block tab-conent-body-2 %}
<div class="tutor-course-segment tutor-course-wrap">
    <h4 class="tutor-course-segment__title">Rubrics</h4>
    <table class="table table-bordered caption-top">
        <!-- <caption>Rubrics in making Fundamental weave/Hard strip</caption> -->
        <thead>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>TECHNIQUES/CONCEPTS</th>
                <td>The work lacks understanding of concepts, materials and skills.</td>
                <td>The work shows some understanding of concepts, materials and skills.</td>
                <td>The work reflects understanding of concepts and materials, as well as use of 
                    skills discussed in class.</td>
                <td>The work shows a mastery of skills and reflects a deep understanding of 
                    concepts and materials.</td>
            </tr>
            <tr>
                <th>HABITS OF MIND</th>
                <td>
                    Student passively attempts to fulfil assignment without much thought or exploration 
                    of possibilities. Student refuses to explore more than one idea.
                </td>
                <td>The student developed exploration of possible solutions and innovative thinking. 
                    Student has more than one idea but does not pursue.</td>
                <td>The student explores multiple solutions and innovative thinking develops and expands 
                    during project.</td>
                <td>
                    The student consistently displays willingness to try multiple solutions and ask thought 
                    provoking questions, leading to deeper, 
                    more distinctive results; the student fully explores multiple ideas and iterations.</td>
            </tr>
            <tr>
                <th>REFLECTION & UNDERSTANDING</th>
                <td>The student shows little awareness of the process. The work does not demonstrate
                    understanding of concept.</td>
                <td>The student demonstrates some self-awareness. work shows some understanding of content, 
                    but student cannot justify all of their decisions.</td>
                <td>The student shows self-awareness. Work demonstrates understanding of content and most decisions 
                    are conscious and justified.</td>
                <td>The work reflects a deep understanding of the complexities of the content. Every decision is 
                    purposeful and thoughtful.</td>
            </tr>
            <tr>
                <th>CRAFTMANSHIP</th>
                <td>The work is messy and craftsmanship detracts from overall presentation.</td>
                <td>The work is somewhat messy and craftsmanship detracts somewhat from overall presentation.</td>
                <td>The work is neat and craftsmanship is solid.</td>
                <td>The work is impeccable and shows extreme care and thoughtfulness in its craftsmanship.</td>
            </tr>
            <tr>
                <th>EFFORT</th>
                <td>The work is not completed in a satisfactory manner. Student shows minimal effort. Student 
                    does not use class time effectively.</td>
                <td>The work is complete but it lacks finishing touches or can be improved with a little effort. 
                    Student does not do enough to meet requirements.</td>
                <td>The work is completed in an above average manner, yet more could have been done. 
                    Student needs to go one step further to achieveexcellence.</td>
                <td>The work is completed with excellence and exceeded teacher expectations. Student exhibited 
                    exemplary commitment to the project.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock tab-conent-body-2 %}

    