{% extends 'emodule/module/lesson_base.html' %}

{% load static %}

{% block tab-conent-body-1 %}
<div class="tutor-course-segment tutor-course-wrap">
    {% with quarter_id=module.quarter.id module_id=module.id %}
    <h4 class="tutor-course-segment__title">Lesson</h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="id-lesson-{{quarter_id}}-{{module_id}}-tab-1" data-bs-toggle="tab"
                data-bs-target="#lesson-{{module_id}}-1" type="button" role="tab" aria-controls="lesson-{{module_id}}-1"
                aria-selected="true">
                The Origin of Macrame and Basketry
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="lesson-{{module_id}}-1" role="tabpanel"
            aria-labelledby="id-lesson-{{quarter_id}}-{{module_id}}-tab-1">

            <div class="tutor-course-main-segment">
                <div class="tutor-course-segment tutor-course-wrap">
                    <h5>The Origin of Macrame and Basketry</h5><br>
                    <p>What is Macrame' and basketry? It is believed that macramé and basketry are
                        hobbies done for pleasure during the ancient times. These kinds of activities are
                        done for relaxation. Macrame’ is a fabric craft that uses a variety of knots to create
                        functional and decorative items. It can be worked in many different kinds of
                        threads, strings and rope and is often used to make jewelries. Basketry is the
                        process of weaving or sewing pliable materials into three-dimensional artifacts,
                        such as baskets, mats, mesh bags or even furniture. Craftspeople and artists specialized in
                        making baskets may be known as basket makers and basket weavers.
                        The principles of basket weaving are the same whether you work with willow or
                        cane so that there is very little difference in the two techniques. Young willow
                        shoots are called osiers and are cut into rods of various colors and sizes to be
                        used for basket making. They are prepared in a surprising number of different
                        ways, some are cut when very thin, some allowed to grow thicker; some are
                        stripped of their bark, some dried, some boiled, some steeped in water, some split.
                        The result is that there are many weights available, suitable for both light and
                        heavy work. There is also an attractive range of natural colors too - from a gleaming white, to
                        a more golden tan to a rich dark brown. Of course, though many
                        people prefer to keep the natural country look, there is nothing to stop you from
                        painting your baskets in bright colors</p>

                    <h6>Cultural and Economic Importance</h6>

                    <b>Macrame</b>
                    <p>Another interesting part is how various countries and their people are utilizing
                        macramé as well as other craft skills as income in poorest areas. Macramé art in
                        Ghana has now been adopted as one of the most important manufacturing methods for fashion
                        accessories. This art form now provides an alternative method, especially for bag and shoe
                        production in the fashion industry. The number of
                        younger users of macramé products has increased over the past few years. The
                        youth of today is trendy and putting a great emphasis on new creative designs.
                        Now macramé art is not only an occupation for the youth, but an acknowledgement of the creative
                        development of the ingenuity of Ghanaian youth.
                    </p>

                    <b>Basketry</b>
                    <p>Modern archaeologists have found a great deal of relevance to both ancient sites and cultural
                        practices in its prose.
                        All cultures on earth have basket weaving traditions that date back before the times of
                        Gilgamesh, which we are still learning about. Indigenous tribes on every continent, including
                        Australia and America were involved in basket weaving.
                        The key to their success was an innate and intimate understanding of their natural environment,
                        as well as their skills in designing nets, baskets and bags that were both flexible
                        and adaptable.
                        Basketry plays a large role in the Philippine economy where our local farmers in Palawan
                        (Ibaloi, Banayakero weavers) Ifugao Basketry Village outside of Banaue and other part of
                        Luzon depends only in basketry weaving as their source of income for the family.
                    </p>

                    <h6>HISTORY OF MACRAME'</h6>
                    <p>
                        The history of macrame' can be traced to the early 14th and 15th centuries when
                        this craft was practiced in France and Italy. The patterned knotted fabrics created
                        out of macramé craft were used in churches for vestments and altar cloths in early days. This
                        craft then became popular among the British during the 19th century. Legend says that North
                        American sailors spent long hours aboard ships practicing macrame' square knots and hitch knots.
                        These sailors made fringes for
                        wheels and bell covers, netting, and screens. It was revived in the 60's with the
                        hippie movement, which brought with it a recovery of interest in this ancient
                        craft. Today, macrame' craft has regained its huge popularity.
                        The word macrame' describes any elaborate fringe of knotted thread or cord, but
                        the Arabic word migramah, from which macrame' is derived, originally meant
                        "stripped towel" or embroidered veil." The craft is supposed to have been brought
                        from the Middle East to Spain by the Moors. It then spread through Europe and
                        was introduced to England from Holland by Queen Mary, wife of William of Orange, in the late
                        17th century. Macrame' soon became a popular pastime in court
                        circles.
                        Macrame could be used to decorate almost anything and could be found in every
                        prosperous 19th century home. With the introduction of machine lace for clothes
                        and a desire for simpler furnishing styles, the art of macrame' was almost forgotten. The last
                        few years have seen a revival as another generation rediscovers its
                        fascination.
                    </p>

                    <h6>HISTORY OF BASKETRY</h6>
                    <p>
                        Basketry or basket making is one of the oldest crafts. Prehistoric humans used
                        limbs, leaves, and vines woven together to carry their supplies. From these basic
                        beginnings, different cultures have urbanized literally hundreds of styles of baskets. In many
                        cases, the style of basket depends on the availability of resources
                        and plants suitable for basket construction. In early times, baskets were a necessity. This was
                        before the days of metal and plastic containers. They were used to
                        carry and store various materials. Today, baskets are used for the same purposes,
                        but also to decorate at home, to hold flowers for weddings and hospital visits, to
                        store personal items, and to make arrangement for holiday festivities.
                        Since the materials for basketry are as close as the nearest palm tree, cane stalks, or
                        rush, its development was universal. Early weavers sometimes lined their baskets with
                        clay to make them watertight; from these beginnings, pottery has developed.
                        Today, basket making survives in many parts of the world using forms, techniques, and
                        materials like to those employed in previous ages.
                        In the Philippines, raw materials for basket weaving are abundant. The most common are
                        bamboo, rattan, and abaca. Basket coming from the lowland are usually made of bamboo
                        and abaca, while in mountainous places, the main raw material used is chiefly of rattan.
                        The four types of basket found in the Philippines are snare and traps, holding basket, carrying
                        basket, sieves and strainers.
                        Traditional designs are still employed in making these four types of basket for
                        special purposes, such as crab and lobster pots, fish traps, eel traps, bird and
                        fowl snares, holding basket, and carrying baskets. Today, the basket weaving industry in the
                        country has gone a long way, as it remains to be a major basketmaking producer abroad.
                    </p>
                    <p>Here are some sample pictures of macramé and basketry produce in different parts of the
                        Philippines
                    </p>
                    <img src="{% static 'emodule/images/module/quarter_1/history/history_1.PNG' %}">
                </div>
            </div>

        </div>
    </div>
    {% endwith %}
</div>
{% endblock tab-conent-body-1 %}